# dependencies
**/node_modules

# production
build/
dist/

# misc
.DS_Store
.env.local

# СВОЁ пока не нужное 
# папка временных/пока не нужных файлов. для игнора и случайно залитых
vr*/
.env*
tmp/*
logs/*
static/img/shop