.NRJWT {
  // text-align: center;
  &__content-- {
    width: 75%;
    margin: 0 auto;
    form {
      width: 500px;
      margin: 0 auto;
      input/* ,
      button */ {
        width: 100%;
      }
      .management {
        display: flex;
        justify-content: space-between;
        transition: all 0.5s;
        button {
          // width: 25%;
          // width: 90px;
          flex: 1 1 0;
        }
        button:nth-child(2) {
          margin-left: 5px;
        }
        button:hover {
          transition: all 0.5s;
          flex: 5 1 0;
        }
      }
    }
    .boards {
      align-items: center;
      flex-direction: column;
      .board {
        width: 45%;
        .items {
          // width: 100%;
          .item {
            &:hover {
              transform: scale(1.025);
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
