#sw2blwh {
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
  height: inherit;
  border-radius: 25px;
  cursor: pointer;
  input {
    appearance: none;
    position: relative;
    width: 100%;
    height: 30px;
    height: inherit;
    margin: 0;
    border-radius: 25px;
    background-color: #1e1e1e;
    outline: none;
    font-family: "Oswald", sans-serif;
    font:
      17px/26px Arial,
      sans-serif;
    line-height: 2;
    font-weight: bold;
    transition: 0.25s -0.1s;
    cursor: pointer;
    &:before,
    &:after {
      z-index: 2;
      position: absolute;
      top: 52%;
      transform: translateY(-50%);
      cursor: pointer;
    }
    &:before {
      content: "ON";
      left: 10px;
      text-shadow: 0px 0px 15px rgba(204, 204, 204, 1);
      text-shadow: 0px 0px 7px #707070;
    }
    &:after {
      content: "OFF";
      right: 10px;
      color: #ffffff;
      transition: color 0.5s 0.2s;
      text-shadow: 0px 0px 10px white;
    }
  }
  label {
    z-index: 1;
    position: absolute;
    top: 2px;
    bottom: 2px;
    border-radius: 20px;
  }
}
// }
#sw2blwh {
  input {
    // нажатие
    &:checked {
      background: #333;
      background-color: white;
      &:before {
        color: white;
        transition: color 0.5s 0.2s;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
      }
      &:after {
        color: #1e1e1e;
        transition: color 0.5s 0.2s;
        text-shadow: 2px 1px 2px #888;
      }
      & + label {
        left: 2px;
        // right: 48px;
        background: #1e1e1e;
        transition:
          left 0.5s,
          right 0.4s 0.2s;
      }
    }
    // не нажата
    &:not(:checked) {
      background: #1e1e1e;
      transition: background 0.5s -0.1s;
      &:before {
        color: #1e1e1e;
        transition: color 0.5s;
      }
      &:after {
        color: #1e1e1e;
        transition: color 0.5s 0.2s;
        text-shadow: 2px 1px 2px #888;
      }
      & + label {
        // left: 56px;
        right: 2px;
        background: white;
        transition:
          left 0.4s 0.2s,
          right 0.5s,
          background 0.35s -0.1s;
      }
    }
  }
  label {
    color: transparent;
  }
}
