// обнуляющий стиль для стандартизации по всем свойствам, брайзерам и пр.

@use "./mixins" as *;

@mixin reset {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
* {
  @include reset;
}
:focus,
:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  color: var(--txt-col);
  background-color: var(--fon-dark);
}
body {
  font-size: var(--sz3);
  font-size: 18px;
  line-height: 1;
  font-family: var(--fontfamily);
  &.lock {
    overflow: hidden;
    @include media-all(xs) {
      width: 100%;
      position: fixed;
    }
  }
}

// общ. блоков
aside,
nav,
footer,
header,
section {
  display: block;
}

// ссылки
a {
  color: inherit;
  text-decoration: inherit !important;
}
a:focus,
a:active {
  outline: none;
}
header a {
  letter-spacing: 1px;
}

// СПИСКИ
ul li {
  list-style: none;
}

// изо
img {
  vertical-align: top;
}

// заголовки
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  text-align: center;
}

// показать/скрыть
.visible {
  display: block !important;
  // visibility: visible;
}
.hidden {
  display: none !important;
}

// дл.бл
span.bd {
  font-weight: bold;
}

.tac {
  text-align: center;
}
.tal {
  text-align: left;
}

// текста (скрыть длинную строку)
.hideLongTxt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// модальные окна
.modal--eg {
  z-index: 3;
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 30px;
  text-align: center;
  border-radius: var(--sz2);
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 01);
  transition: all 0.5s ease-in-out;

  img {
    border-radius: var(--sz1);
  }

  svg {
    position: absolute;
    right: var(--sz2);
    top: var(--sz2);
    right: var(--sz1);
    top: var(--sz1);
    height: 24px;
    width: 24px;
    opacity: 0.3;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

// модальный окна 2.0
.modal-overlay--eg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-dialog--eg {
    // background-color: #fff;
    // padding: 20px;
    width: 100%;
    max-width: 90%;
    max-height: 90%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    .modal-content--eg {
      background-color: var(--ui-bg);
      text-align: center;
      border: 2px solid var(--bord-hr) !important;
      .modal-header--eg {
        position: relative;
        font-size: 24px;
        font-weight: bold;
        padding: 10px 0px;
        border-bottom: 2px solid var(--bord-hr);
        .btn-cloce--eg {
          position: absolute;
          top: calc(50% - 15px);
          margin: 0 20px;
          right: 0;
          font-size: 30px;
          color: var(--bord-hr);
          background-color: transparent;
          width: 1em;
          height: 1em;
          box-sizing: content-box;
          padding: 0;
          font-family: auto;
        }
      }

      .modal-body--eg {
        // margin: 20px;
        font-size: 16px;
        line-height: 1.5;
        overflow-y: auto;
      }
    }
  }
}

// Заполнители Рамки/Заливки ----------------------------------------------------------------------------------
.bbb-0 {
  border: 0px !important;
}
.bbb-1 {
  border-radius: var(--szp5);
  border: 1px solid var(--bord-hr); // --DeepRedBrown: var(--DeepRedBrown);
  background-color: var(--ui-bg); // --DeerBrown: #59351f;
}
.bbb-2 {
  border-radius: var(--szp5);
  border: 1px solid var(--bord-hr); // --DeepRedBrown: var(--DeepRedBrown);
  background-color: var(--act-bg); // --WetAsphalt: #505050;
}
.br-0 {
  border-radius: 0px !important;
}
.br-1 {
  border-radius: 5px !important;
}
.b {
  border: 1px solid var(--bord-hr);
}
.bc-2 {
  background-color: var(--act-bg);
}
.bc-1 {
  background-color: var(--ui-bg);
}

// растояния/размеры  ----------------------------------------------------------------------------------
// длина/ширина
.w {
  &-a {
    width: auto !important;
  }
  &-5 {
    width: 5%;
  }
  &-10 {
    width: 10%;
  }
  &-25 {
    width: 25%;
  }
  &-50 {
    width: 50%;
  }
  &-75 {
    width: 75%;
  }
  &-100 {
    width: 100%;
  }
}
.h1 {
  height: 100%;
}
// MARGIN расстояния
.m {
  &-0 {
    margin: var(--sz0);
  }
  &-1 {
    margin: var(--sz1);
  }
  &-2 {
    margin: var(--sz2);
  }
  &-3 {
    margin: var(--sz3);
  }
  &-4 {
    margin: var(--sz4);
  }
  &-5 {
    margin: var(--sz5);
  }
  // TOP
  &t {
    &-0 {
      margin-top: var(--sz0);
    }
    &-1 {
      margin-top: var(--sz1);
    }
    &-2 {
      margin-top: var(--sz2);
    }
    &-3 {
      margin-top: var(--sz3);
    }
    &-4 {
      margin-top: var(--sz4);
    }
    &-5 {
      margin-top: var(--sz5);
    }
  }
  // BOTTOM
  &b {
    &-0 {
      margin-bottom: var(--sz0);
    }
    &-1 {
      margin-bottom: var(--sz1);
    }
    &-2 {
      margin-bottom: var(--sz2);
    }
    &-3 {
      margin-bottom: var(--sz3);
    }
    &-4 {
      margin-bottom: var(--sz4);
    }
    &-5 {
      margin-bottom: var(--sz5);
    }
  }
  // LEFT
  &l {
    &-0 {
      margin-left: var(--sz0);
    }
    &-1 {
      margin-left: var(--sz1);
    }
    &-2 {
      margin-left: var(--sz2);
    }
    &-3 {
      margin-left: var(--sz3);
    }
    &-4 {
      margin-left: var(--sz4);
    }
    &-5 {
      margin-left: var(--sz5);
    }
  }
  // RIGHT
  &r {
    &-0 {
      margin-right: var(--sz0);
    }
    &-1 {
      margin-right: var(--sz1);
    }
    &-2 {
      margin-right: var(--sz2);
    }
    &-3 {
      margin-right: var(--sz3);
    }
    &-4 {
      margin-right: var(--sz4);
    }
    &-5 {
      margin-right: var(--sz5);
    }
  }
}
.mlr {
  &-1 {
    margin: 0 var(--sz1) 0;
  }
  &-2 {
    margin: 0 var(--sz2) 0;
  }
  &-3 {
    margin: 0 var(--sz3) 0;
  }
  &-4 {
    margin: 0 var(--sz4) 0;
  }
  &-5 {
    margin: 0 var(--sz5) 0;
  }
}
// PADDING расстояния
.p {
  &-0 {
    padding: var(--sz0);
  }
  &-1 {
    padding: var(--sz1);
  }
  &-2 {
    padding: var(--sz2);
  }
  &-3 {
    padding: var(--sz3);
  }
  &-4 {
    padding: var(--sz4);
  }
  &-5 {
    padding: var(--sz5);
  }
  // TOP
  &t {
    &-0 {
      padding-top: var(--sz0);
    }
    &-1 {
      padding-top: var(--sz1);
    }
    &-2 {
      padding-top: var(--sz2);
    }
    &-3 {
      padding-top: var(--sz3);
    }
    &-4 {
      padding-top: var(--sz4);
    }
    &-5 {
      padding-top: var(--sz5);
    }
  }
  // BOTTOM
  &b {
    &-0 {
      padding-bottom: var(--sz0);
    }
    &-1 {
      padding-bottom: var(--sz1);
    }
    &-2 {
      padding-bottom: var(--sz2);
    }
    &-3 {
      padding-bottom: var(--sz3);
    }
    &-4 {
      padding-bottom: var(--sz4);
    }
    &-5 {
      padding-bottom: var(--sz5);
    }
  }
}
.plr {
  &-1 {
    padding: 0 var(--sz1) 0;
  }
  &-2 {
    padding: 0 var(--sz2) 0;
  }
  &-3 {
    padding: 0 var(--sz3) 0;
  }
  &-4 {
    padding: 0 var(--sz4) 0;
  }
  &-5 {
    padding: 0 var(--sz5) 0;
  }
}
// общ. margin | padding

// hr ----------------------------------------------------------------------------------
hr.hr {
  width: 100%;
  overflow: hidden;
  border-style: groove;
  border-style: ridge;
  border-color: #8b0000;
  border-width: var(--sz1);
  opacity: 1;
  clear: both;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// .font ----------------------------------------------------------------------------------
.f {
  // family
  &f {
    &-mn {
      font-family: monospace;
    }
  }
  // size
}
.fs {
  &-calc {
    &-1 {
      &_3 {
        font-size: calc(1rem + 0.3vw) !important;
      }
    }
  }
}

// .color ----------------------------------------------------------------------------------
.col {
  &-bl {
    color: black;
  }
}

// DIV | SELECTOR | SPAN ----------------------------------------------------------------------------------
.boards {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  .board {
    min-width: 250px;
    // min-height: 250px;
    height: auto;
    padding: 10px 10px 20px;
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 5px solid darkred;
    border-radius: 12px;
    cursor: pointer;

    &__title {
      font-size: var(--sz3);
      font-weight: 700;
    }
  }

  .items {
    width: 95%;
    display: flex;
    flex-direction: column;

    .item {
      padding: var(--sz2);
      margin: 5px 0px;
      text-align: center;
      transition: 0.2s;
      cursor: pointer;
      // background: #ff0;
      border-radius: var(--sz1);
      border: 2px solid darkred;
      box-shadow: 3px 3px 7px 0px #555;
      box-shadow: 3px 3px 7px 0px #000;

      &:hover {
        font-weight: bold;
        // background: gold !important;
        background: gold;
        // увелич. важность т.к. в коде использ.цвета
        box-shadow: 5px 5px 10px 3px #555 !important;
        box-shadow: 5px 5px 10px 3px #000 !important;
        transform: scale(1.1);
        transition: 0.2s;
      }
    }
  }
}

// flex ----------------------------------------------------------------------------------
.df {
  display: flex !important;
  &-cc {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-aic {
    align-items: center;
  }
  &-jcc {
    justify-content: center;
  }
  &-jcsa {
    justify-content: space-around;
  }
  &-jcsb {
    justify-content: space-between;
  }
  &-jcse {
    justify-content: space-evenly;
  }
  &-row {
    flex-direction: row;
  }
  &-col {
    flex-direction: column;
  }
  &-110 {
    flex: 1 1 0;
  }
}

// КНП | ВВОД | ВЫБОР ----------------------------------------------------------------------------------
input::-ms-clear {
  display: none;
}
input::placeholder {
  color: #000000;
}
input.search--eg {
  width: 100%;
}
button,
input {
  padding: var(--sz1);
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  // transition: background-color 200ms, transform 100ms linear;
  &:disabled {
    opacity: 0.4;
  }
}
input.inpt--eg,
button.btn--eg,
select.select--eg {
  cursor: pointer;
  padding: var(--sz1) var(--sz2);
  border: 1px solid #bd0000;
  border-radius: var(--sz1);
  line-height: 1.5;
  transition:
    background-color 200ms,
    transform 100ms linear;
  user-select: none;
}
input.inpt--eg {
  &:focus {
    outline: 0;
    color: black;
    border-color: black;
    background-color: var(--Gray);
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
}
button.btn-primary--eg,
button.btn-success--eg,
button.btn-danger--eg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: 1px solid #bd0000;
  line-height: 1.5;

  &:active {
    opacity: 0.8;
  }

  // анимация/прыжок/увеличение
  &.btn-anim--eg {
    animation: turn-off 0.5s ease-out;
    @keyframes turn-off {
      0% {
        right: 100%;
      }
      100% {
        right: 0%;
      }
    }
    &:hover {
      transform: scale(1.03) translateY(-3px);
      animation: turn-on 5s ease-out;
      @keyframes turn-on {
        0% {
          left: 100%;
        }
        100% {
          left: 0%;
        }
      }
    }
    &:active {
      transform: scale(1) translateY(0);
    }
  }
}
input.btn-primary--eg {
  cursor: pointer;
}
button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transform: translateY(0);
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

// ЭФФЕКТЫ ----------------------------------------------------------------------------------
.ef {
  // тень
  &-bs {
    box-shadow: 0 3px 5px black;
    &:hover {
      box-shadow: 0 8px 10px #000000;
    }
    &:active {
      box-shadow: 0 1px 1px black;
    }
  }
}

// FORM ----------------------------------------------------------------------------------
.form {
  width: 100%;
  height: 100%;
  &--eg {
    border-radius: var(--sz2);
    border: 1px solid var(--DeepRedBrown);
  }
  ::placeholder {
    color: #5f5f5f;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: -1px -1px 0px #222;
  }
}

// .fieldset (`набор полей`) ----------------------------------------------------------------------------------
.fieldset--eg {
  display: block;
  border: 1px solid var(--DeepRedBrown);
  border-radius: var(--sz2);
  font-size: inherit;
  .legend--eg {
    width: auto;
    float: none;
    margin: 0;
    padding: 0 var(--sz4);
    font-size: inherit;
    color: var(--DeepRedBrown);
    line-height: inherit;
  }
  // убрать отступ сверху у первого div после legend
  legend + div,
  div:first-child {
    margin-top: var(--sz0) !important;
    margin-left: var(--sz0) !important;
  }
  // cl.объедин.блоков(united)
  .united {
    div {
      // уровнять отступ у первого label с объедин.
      margin-top: var(--sz0) !important;
      // уровнять отступ у первого label с объедин.
      &:first-child {
        margin-left: 0;
        // уровнять отступ у первого label с объедин.
        label {
          width: calc(10% + var(--sz1));
        }
      }
    }
  }
}
// для внешне объединёных form (из Modal, )
.uniteddiv .fieldset--eg {
  // уровнивание отступа у первого label
  .ununited label {
    width: calc(11%);
  }
  .united div label {
    width: calc(26%);
  }
}

// ОШИБКИ .err, err-msg ----------------------------------------------------------------------------------
input.err {
  // смс
  &-msg {
    padding: var(--sz1);
    // больше стилей
    &_b {
      border: 3px solid;
      &::before,
      &::after {
        color: var(--DeepRedBrown);
        display: inline;
        content: "⚠ ";
      }
    }
  }
  // ввод
  &-inpt {
    border-color: #dc3545 !important;
    // спец.симвл.внимание
    &:after {
      content: "⚠";
    }
    &:focus {
      outline: 0;
      color: black;
      border-color: #dc3545;
      background-color: var(--Gray);
      box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
    }
    &-suces {
      border-color: #198754 !important;
      &:focus {
        outline: 0;
        color: black;
        border-color: #198754;
        background-color: var(--Gray);
        box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
      }
    }
  }
  // больше стилей
  &_b {
    border: 3px solid;
    border: 5px solid linear-gradient(45deg, yellow, 10px, black 20px);
    border-image: linear-gradient(to left, #ff0000, #0000ff) 1 1;
    border-image: repeating-linear-gradient(
        6deg,
        yellow,
        0px,
        yellow 5px,
        darkred 0px,
        black 10px
      )
      1 1;
    &::after {
      display: inline;
      content: "⚠ ";
    }
  }
}
div:has(> .inpt--eg) {
  position: relative;
  display: flex;
  // flex-direction: column;

  &:has(.err-inpt-suces),
  &:has(.err-inpt) {
    &::after {
      position: absolute;
      width: 0px;
      font-weight: 900;
    }
  }
  &:has(.err-inpt) {
    &::after {
      content: "⚠";
      top: calc(50% - 17px);
      top: 9px;
      right: 25px;
      color: red;
    }
  }
  &:has(.err-inpt-suces) {
    &::after {
      content: "✓";
      top: calc(50% - 10px);
      top: 9px;
      right: 20px;
      color: green;
    }
  }
}

// ТАБЛИЦЫ ----------------------------------------------------------------------------------
.table--eg {
  width: 100%;
  border: 2px solid var(--bord-hr);
  caption-side: bottom;
  border-collapse: collapse;
  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-width: 0 1px;
  }
  // строки
  tr {
    border-width: 1px 0;
    padding: 0.3rem 0.3rem;
  }
  // яч.заголовка
  th {
    padding: 0.3rem 0.3rem;
  }
  // яч.тела
  td {
    padding: 0.25rem 0.25rem;
    border-width: 0 1px;
  }
  thead {
    tr {
      th {
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
  tbody {
    tr {
      th {
        text-align: center;
      }
      td {
        vertical-align: initial;
      }
    }
  }
  // медиа
  @media (max-width: 768px) {
    tr {
      th,
      td {
        width: auto !important;
        font-size: 12px;
      }
    }
  }
}
.tb-cl {
  display: table-cell !important;
}

// ВЫБОРКА ----------------------------------------------------------------------------------
.select--eg {
  font-size: 16px !important;
}
