// обнуляющий стиль для стандартизации по всем свойствам, брайзерам и пр.
* {
  margin: 0px;
  border: 0px;
}
*:not(ul, ol, li) {
  padding: 0px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  // ??? не раб - SassError: Undefined variable. - min-width: $minwidth;
  // min-width: $minwidth;
  position: relative;
  width: 100%;
  color: #000;
}
body {
  font-size: 100%;
  line-height: 1;
  font-size: 18px;
  // ??? не раб - SassError: Undefined variable. - font-family: $fontfamily;
  // font-family: $fontfamily;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  &.lock {
    overflow: hidden;
    @media (max-width: 768px) {
      // ??? не раб - SassError: Undefined variable. - @media (max-width: $md3+px) {
      // @media (max-width: $md3+px) {
      width: 100%;
      position: fixed;
      overflow: hidden;
    }
  }
}

// общ. блоков
aside,
nav,
footer,
header,
section {
  display: block;
}

// ссылки
a {
  color: inherit;
  text-decoration: inherit !important;
}
a,
a:visited {
  // text-decoration: none;
}
a:hover {
  // text-decoration: none;
}
a:focus,
a:active {
  outline: none;
}
header a {
  letter-spacing: 1px;
}

// списки
ul li {
  list-style: none;
}

// изо
img {
  vertical-align: top;
}

// заголовки
h1,
h2,
h3,
h4,
h5,
h6 {
  // font-weight: inherit;
  font-size: inherit;
  text-align: center;
}

// дл.бл
p {
  // letter-spacing: normal;
}
span {
  font-weight: bold;
  // background: #cccccc;
  // letter-spacing: 3px;
  // line-height: 1.3;
}

// модальные окна

.modal__eg {
  z-index: 3;
  width: 70%;
  max-width: 500px;
  // max-height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 40px 30px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 01);
  transition: all 0.5s ease-in-out;

  img {
    border-radius: 5px;
    // width: 100%;
  }

  svg {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 24px;
    width: 24px;
    opacity: 0.3;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

// hr ----------------------------------------------------------------------------------
hr.hr {
  // display: block;
  // unicode-bidi: -webkit-isolate;
  // unicode-bidi: -moz-isolate;
  // unicode-bidi: isolate;
  // -webkit-margin-before: 7px;
  // margin-block-start: 7px;
  // -webkit-margin-after: 7px;
  // margin-block-end: 7px;
  // -webkit-margin-start: auto;
  // margin-inline-start: auto;
  // -webkit-margin-end: auto;
  // margin-inline-end: auto;
  width: 100%;
  overflow: hidden;
  border-style: groove;
  border-style: ridge;
  border-color: #8b0000;
  border-width: 5px;
  opacity: 1;
  clear: both;
  // margin: 0 -62px;
}
br {
  // width: 0;
  // height: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// DIV | SELECTOR | SPAN ----------------------------------------------------------------------------------
// .board ----------------------------------------------------------------------------------
.boards {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  .board {
    min-width: 250px;
    // min-height: 250px;
    height: auto;
    padding: 10px 10px 20px;
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 5px solid darkred;
    border-radius: 12px;
    cursor: pointer;

    &__title {
      font-size: 15px;
      font-weight: 700;
    }
  }

  .items {
    width: 95%;
    display: flex;
    flex-direction: column;

    .item {
      // width: 100%;
      // height: 100%;
      padding: 10px;
      margin: 5px 0px;
      text-align: center;
      transition: 0.2s;
      cursor: pointer;
      // background: #ff0;
      border-radius: 5px;
      border: 2px solid darkred;
      box-shadow: 3px 3px 7px 0px #555;
      box-shadow: 3px 3px 7px 0px #000;
      &:last-child {
        // margin: 5px 0px 0px;
      }

      &:hover {
        font-weight: bold;
        // background: gold !important;
        background: gold;
        // увелич. важность т.к. в коде использ.цвета
        box-shadow: 5px 5px 10px 3px #555 !important;
        box-shadow: 5px 5px 10px 3px #000 !important;
        transform: scale(1.1);
        transition: 0.2s;
      }
    }
  }
}

// КНП ----------------------------------------------------------------------------------
input,
button,
textarea {
  // ??? не раб - SassError: Undefined variable. - ont-family: $fontfamily;
  // font-family: $fontfamily;
}
input::-ms-clear {
  display: none;
}
input::placeholder {
  color: #000000;
}
button,
input {
  margin: 5px 0px;
  padding: 5px;
  border: 1px solid #bd0000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 200ms, transform 100ms linear;
}
button.btn {
}
button.primary,
input.primary {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 10px;
  border: 1px solid #bd0000;
  box-shadow: 0 3px 5px black;
  text-transform: uppercase;
  &:hover {
    // transition: transform 100ms linear;
    box-shadow: 0 8px 10px #000000;
    transform: translateY(-3px);
  }
  &:active {
    // transition: transform 0.2s linear;
    box-shadow: 0 1px 1px black;
    transform: translateY(0);
    opacity: 0.8;
  }
}
button.btn-primary__eg {
  &:hover {
    // background-color: #157347;
    // border-color: #146c43;
  }
}
button.btn-success__eg {
  background: #198754;
  border-color: #198754;
  &:hover {
    background-color: #157347;
    border-color: #146c43;
  }
}
button.btn-danger__eg {
  background: #dc3545;
  border-color: #dc3545;
  &:hover {
    background-color: #bb2d3b;
    border-color: #b02a37;
  }
}
button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  // transition: transform 0.3s linear;
  // transform: translateY(3px);
  // border: 1px solid transparent;
  // opacity: 0.8;
  //
  transform: translateY(0);
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

// FORM ----------------------------------------------------------------------------------
form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid darkred;
  border: 1px solid #490005;
}

// ОШИБКИ .err, err-msg ----------------------------------------------------------------------------------
.error-msg {
  // color: #490005;
  padding: 5px;
  border: 3px solid;
  &::before {
    color: #490005;
    display: inline;
    content: "⚠ ";
  }
}

.err {
  color: darkred;
  margin-top: 10px;

  font-weight: bold;
  border: 3px solid;
  border: 5px solid linear-gradient(45deg, yellow, 10px, black 20px);
  border-image: linear-gradient(to left, #ff0000, #0000ff) 1 1;
  border-image: repeating-linear-gradient(
      6deg,
      yellow,
      0px,
      yellow 5px,
      darkred 0px,
      black 10px
    )
    1 1;
  /* background: linear-gradient(to right, red, purple); */
  padding: 10px;
  /* background: repeating-linear-gradient(45deg, yellow, orange 10px, darkred 10px, black 20px); */

  &::before {
    display: inline;
    content: "⚠ ";
  }
}
