// main > div > div > div {
main {
  padding: 0px 3%;
}
// & > div {
div {
  // background-color: #e9da96;
  // padding: 15px 2%;
  // padding: 10px 2%;
  hr {
    margin: 10px -3%;
    margin: 10px 0%;
  }
  h1 {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 3px;
  }
  // отступ е/и рядом в h1 есть эл.(братские P, UL)
  h1:has(+ p, + ul, + div, + section, + span) {
    margin-bottom: 10px;
  }
  h2 {
    font-weight: 800;
    font-size: 18px;
    margin: 10px 0px;
  }
  > div[class$="header"] {
    // margin: 10px 0px;
    padding: 10px 0px;
    line-height: 22px;
    @media (max-width: $md1NoErr) {
      padding: 8px 0px;
      // line-height: 20px;
    }
    @media (max-width: $md2NoErr) {
      padding: 6px 0px;
      line-height: 20px;
    }
    @media (max-width: $md3NoErr) {
      padding: 4px 0px;
      // line-height: 16px;
    }
  }
  span {
    // font-weight: bold;
    // background: #cccccc;
    // letter-spacing: 2px;
    // line-height: 1.3;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    & > a {
      margin-left: 15px;
    }
    & > a,
    & span > a {
      // position: relative;
      width: 150px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
      border: 1px solid #000;
      box-shadow: 0px 0px 0px #000 inset, 3px 3px 3px black;
      &.active {
        font-weight: bold;
        color: black;
        color: gold;
        background: #474747;
        background: #474b4e;
        box-shadow: 3px 3px 3px #000 inset, 0px 0px 0px black;
      }
      &:hover {
        font-weight: bold;
        color: #000;
        box-shadow: 1px 1px 10px #000 inset, 1px 1px 2px black !important;

        // подменю при неведении
        ul {
          opacity: 1;
          visibility: visible;
          transform: translate(0px, 0px);
          pointer-events: all;
        }
      }
    }
  }
  & > ul li,
  & > ol li {
    list-style: inherit;
  }
  // для div в которых есть параграф|h1 и братский div
  div:has(p):has(+ div),
  div:has(h1):has(+ div) {
    // line-height: 22px;
    // @include adaptiv-val("margin-top", 10, 2);
  }
  // для div.__descript где есть параграф|h1 и братский div
  div[class$="__descript"]:has(h1):has(+ div),
  div[class$="__descript"]:has(p):has(+ div) {
    @include adaptiv-value-all("margin", 0, 0, 0, 0, 10, 2);
    ul li {
      text-decoration: underline;
      &:hover {
        font-weight: bold;
      }
    }
  }
  // div кл. на конце __content
  div[class$="__content"] {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  // div кл. на конце --button
  div[class$="--button"] {
    button {
      // display: flex;
      width: 150px;
      padding: 15px 0px;
      margin-right: 5px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #dfbd2e;
        font-weight: bold;
      }
      @media (max-width: $md1NoErr) {
        // button {
        width: 125px;
        padding: 12.5px 0px;
        margin-right: 5px;
        // }
      }
      @media (max-width: $md2NoErr) {
        // button {
        width: 100px;
        padding: 10px 0px;
        margin-right: 5px;
        // }
      }
    }
  }
  // форма аунтификации
  .auth-form {
    text-align: center;
  }
}

// правки bootstrap
:root body .main .card {
  @media (min-width: 992px) {
    // background-color: #474747;
  }
}

// Tok ----------------------------------------------------------------------------------
// текст
:root body #root .bavbar,
:root body #root .main {
  color: #000;
}
// img с прозрачным фоном
img.card-img-top {
  background: radial-gradient(circle, #41464b, #000);
}
// таблиза корзины
.table--eg {
  thead {
    tr {
      th {
      }
    }
  }
  tbody {
    tr {
      vertical-align: inherit;
      &:hover,
      &:hover > * {
      }
      &#th--eg:hover {
        background-color: transparent;
        & > * {
          background-color: transparent;
        }
      }
    }
  }
}

// лист групп Категор.,Бренд
.list-group--eg {
  border-radius: 5px;
  div {
    color: #111;
    background-color: var(--ui-bg);
    border: 1px solid var(--bord-hr);
    // transition: color 0.5s; // создаёт перескок/смещение при выборе
    &:first-child {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }
    &:last-child {
      border-bottom-right-radius: inherit;
      border-bottom-left-radius: inherit;
    }
    &.active {
      font-weight: bold;
      color: #000;
      border-color: black;
      background-color: var(--ui-act-col);
    }
  }
}

// `нумерация страниц`
.pagination--eg {
  li.page-item {
    .page-link {
      color: #000;
      border: 1px solid var(--bord-hr);
      background-color: var(--act-bg);
      &:focus {
        // box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
        // box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25);
        box-shadow: 0 0 0 0.25rem rgba(253, 237, 13, 0.25);
      }
    }
    &:hover {
      .page-link {
        color: #000;
        // font-weight: bold;
        background-color: var(--act-bg-hov);
      }
    }
    &.active {
      .page-link {
        color: var(--ui-act-col);
        // font-weight: bold;
        background-color: var(--act-bg-hov);
      }
    }
  }
}

// модал.окно
.modal--eg {
  z-index: 3;
  width: 70%;
  max-width: 500px;
  position: absolute;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  padding: 40px 30px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 3px 5px black;
  transition: all 0.5s ease-in-out;
  // .modal-dialog {
  //   position: absolute;
  //   left: 50% !important;
  //   top: 50% !important;
  //   transform: translate(-50%, -50%);
  // }
  .modal-content {
    background-color: var(--ui-bg);
    text-align: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 01);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    border: 2px solid var(--bord-hr) !important;
    .modal-header {
      padding: 10px 0px;
      border-bottom: 1px solid #000;
      border-bottom: 2px solid var(--bord-hr) !important;
      // border: 2px solid var(--bord-hr) !important;
      .btn-close {
        margin: 5px;
      }
      .modal-title {
        width: 100%;
        h1 {
          margin: 0;
        }
      }
    }
    .modal-body {
      form {
        border: 2px solid var(--bord-hr);
      }
    }
  }
}
.open-modal-btn {
  background: #fff;
  padding: 18px 25px;
  border-radius: 20px;
  // font-weight: 500;
  // border: 0;
  // outline: none;
  font-size: 22px;
  cursor: pointer;
  line-height: 23px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 01);
  transition: all 0.1s ease-in-out;

  &:hover {
    box-shadow: 0 8px 10px #000000;
    transform: translateY(-1px);
  }

  &:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 01);
    transform: translateY(0);
  }
}

// Модальное окно с блоком наложение
.modal--eg__prost {
  // блок наложения на весь экран
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s ease-in-out;
    // показ блока наложение
    &.show {
      z-index: 5;
      opacity: 1;
      visibility: visible;
    }
  }
  // модал.окно
  .modal--eg {
    opacity: 0;
    visibility: hidden;
    // transform: translate(-50%, -50%);
    // transition-delay: 0.2s;
    // показ модал.окно
    &.show {
      max-width: 100%;
      z-index: 7;
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -50%);
    }
  }
}

// блоки выбора Параметров/Категорий/Брендов в модал.окне
// .modal-choice-param {
.choice-param {
  display: flex;
  // flex-direction: column;

  // Колонки
  &__col {
    flex: 1;
    // flex: 1 1 auto;
    margin: 0px 30px 0 0;
    &:last-child {
      margin: 0;
    }
    // & div {
    //   margin: 0px 0px 10px;
    //   &:last-child {
    //     margin: 0;
    //   }
    // }
  }
  // Эл.в Колонках
  &__item {
    margin: 0px 0px 15px;
    // margin: 0px 0px 10px;
    &:last-child {
      margin: 0;
    }
  }

  // скрытие Параметров после btn
  &__btn + div {
    display: none;
  }
  // показ Параметров после btn
  &__btn.choice-param-show + div {
    display: flex;
    flex-direction: column;
  }

  // КНП.
  &__btn {
    position: relative;
    width: 100%;
    margin: 0 0 5px;
    border: 0;
    &::after {
      content: "▼";
      position: absolute;
      right: 0;
      margin: 0 5px;
    }
    &.choice-param-show {
      &::after {
        content: "▲";
      }
    }
  }

  // Параметры
  &__prm {
    label {
      position: relative;
      input {
        position: absolute;
        height: 100%;
        left: 0;
      }
    }
  }
}
// }

// модал под stl bootstr
.modal--eg-bootstr {
  box-shadow: 0 3px 5px black;
  transition: all 0.5s ease-in-out;
  .modal-dialog {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    // для доп.ФормДаты добав.Товара
    top: 0% !important;
    transform: translate(-50%, 0%) !important;
    // ! врем.стиль для расшир.отражения
    // width: 100%;
    max-width: 100%;
  }
  .modal-content {
    background-color: var(--ui-bg);
    text-align: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 01);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    border: 2px solid var(--bord-hr) !important;
    .modal-header {
      padding: 10px 0px;
      border-bottom: 1px solid #000;
      border-bottom: 2px solid var(--bord-hr) !important;
      // border: 2px solid var(--bord-hr) !important;
      .btn-close {
        margin: 0 5px;
      }
      .modal-title {
        width: 100%;
        h1 {
          margin: 0;
        }
      }
    }
    .modal-body {
      form {
        border: 2px solid var(--bord-hr);
      }
    }
  }
}
// убираем из потока кнп.закр.модал для ровн текта title
.modal-title + button.btn-close {
  position: absolute;
  right: 0;
}

// Список группы
.list-group--eg {
  .list-group-item {
    // color: #000;
    font-weight: 500;
    border: 1px solid var(--bord-hr);
    background-color: var(--act-bg);
    &:hover {
      color: #000;
      // font-weight: 700;
      background-color: var(--act-bg-hov);
      // border: 1px solid rgba(253, 237, 13, 0.25);
    }
    &.active {
      color: var(--ui-act-col);
      // font-weight: bold;
      background-color: var(--act-bg-hov);
      border: 1px solid rgba(250, 39, 39, 0.25);
      border: 1px solid #4b0000;
    }
    &:focus {
      border: 1px solid rgba(253, 237, 13, 0.25);
    }
  }
}

// Комп.PaginSortLimit
.pagin-sort-limit {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 0 !important;

  .select--eg {
    width: 15%;
  }
  // .limit--eg {}
  button {
    margin: 0 0 0 15px;
  }
  button,
  select {
    @media (max-width: 768px) {
      margin: 0 0 0 10px;
    }
  }
}

// СОКРАШЕНИЕ
.mini-1--eg,
.mini-2--eg {
  font-weight: inherit;
}
.mini-1--eg {
  @media (max-width: 768px) {
    display: none;
  }
}
.mini-2--eg {
  @media (max-width: 620px) {
    display: none;
  }
}

// ПОИСК
.search--eg {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  // border: 1px solid #bd0000;
  // border-color: var(--bord-hr);
  // border-radius: 5px;
  // background-color: var(--act-bg);
  &:hover {
    width: 100%;
    &__inp {
      background-color: var(--act-bg-hov);
    }
  }
  .search--eg__inp,
  .search--eg__btn {
    // border: 0;
    // background-color: var(--act-bg);
  }
  &__inp {
    flex: 1 1 0;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right-width: 0;
  }
  &__btn {
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left-width: 0;
  }
}

// media
:root body #root .main {
  @media (min-width: 768px) {
    .col-lg-4 {
      flex: 0 0 auto;
      width: 33.333%;
      width: 50%;
    }
  }
  @media (min-width: 1400px) {
    .col-md-3 {
      flex: 0 0 auto;
      width: 20%;
    }
    .col-md-9 {
      flex: 0 0 auto;
      width: 80%;
    }
    .col-lg-4 {
      flex: 0 0 auto;
      width: 25%;
    }
  }
  @media (min-width: 1600px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
      max-width: 1420px;
    }
  }
  @media (min-width: 1800px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
      max-width: 1620px;
    }
    .col-md-3 {
      flex: 0 0 auto;
      width: 15%;
    }
    .col-md-9 {
      flex: 0 0 auto;
      width: 85%;
    }
    .col-lg-4 {
      flex: 0 0 auto;
      width: 20%;
    }
  }
}
