// ^ отдел.подкл.перем. после подкл.ч/з @use
@use "./variables" as *;
@use "./mixins" as *;

main {
  padding: 0px 3%;
}
// & > div {
div {
  // background-color: #e9da96;
  // padding: 15px 2%;
  // padding: 10px 2%;
  hr {
    margin: 10px -3%;
    margin: 10px 0%;
  }
  h1 {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 3px;
  }
  // отступ е/и рядом в h1 есть эл.(братские P, UL)
  h1:has(+ p, + ul, + div, + section, + span) {
    margin-bottom: 10px;
  }
  h2 {
    font-weight: 800;
    font-size: 18px;
    margin: 10px 0px;
  }
  > div[class$="header"] {
    // margin: 10px 0px;
    padding: 10px 0px;
    line-height: 22px;
    @media (max-width: $md1NoErr) {
      padding: 8px 0px;
      // line-height: 20px;
    }
    @media (max-width: $md2NoErr) {
      padding: 6px 0px;
      line-height: 20px;
    }
    @media (max-width: $md3NoErr) {
      padding: 4px 0px;
      // line-height: 16px;
    }
  }
  span {
    // font-weight: bold;
    // background: #cccccc;
    // letter-spacing: 2px;
    // line-height: 1.3;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    & > a {
      margin-left: 15px;
    }
    & > a,
    & span > a {
      // position: relative;
      width: 150px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
      border: 1px solid #000;
      box-shadow:
        0px 0px 0px #000 inset,
        3px 3px 3px black;
      &.active {
        font-weight: bold;
        color: black;
        color: gold;
        background: #474747;
        background: #474b4e;
        box-shadow:
          3px 3px 3px #000 inset,
          0px 0px 0px black;
      }
      &:hover {
        font-weight: bold;
        color: #000;
        box-shadow:
          1px 1px 10px #000 inset,
          1px 1px 2px black !important;

        // подменю при неведении
        ul {
          opacity: 1;
          visibility: visible;
          transform: translate(0px, 0px);
          pointer-events: all;
        }
      }
    }
  }
  & > ul li,
  & > ol li {
    list-style: inherit;
  }
  // для div в которых есть параграф|h1 и братский div
  div:has(p):has(+ div),
  div:has(h1):has(+ div) {
    // line-height: 22px;
    // @include adaptiv-val("margin-top", 10, 2);
  }
  // для div.__descript где есть параграф|h1 и братский div
  div[class$="__descript"]:has(h1):has(+ div),
  div[class$="__descript"]:has(p):has(+ div) {
    @include adaptiv-value-all("margin", 0, 0, 0, 0, 10, 2);
    ul li {
      text-decoration: underline;
      &:hover {
        font-weight: bold;
      }
    }
  }
  // div кл. на конце __content
  div[class$="__content"] {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  // div кл. на конце --button
  div[class$="--button"] {
    button {
      // display: flex;
      width: 150px;
      padding: 15px 0px;
      margin-right: 5px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #dfbd2e;
        font-weight: bold;
      }
      @media (max-width: $md1NoErr) {
        // button {
        width: 125px;
        padding: 12.5px 0px;
        margin-right: 5px;
        // }
      }
      @media (max-width: $md2NoErr) {
        // button {
        width: 100px;
        padding: 10px 0px;
        margin-right: 5px;
        // }
      }
    }
  }
  // форма аунтификации
  .auth-form {
    text-align: center;
  }
}

// правки bootstrap
:root body .main .card {
  @media (min-width: 992px) {
    // background-color: #474747;
  }
}

// Tok ----------------------------------------------------------------------------------
// текст
:root body #root .bavbar,
:root body #root .main {
  color: #000;
}

// img с прозрачным фоном
img.card-img-top {
  background: radial-gradient(circle, #41464b, #000);
}

// таблица корзины
.table--eg {
  thead {
    tr {
      th {
      }
    }
  }
  tbody {
    tr {
      vertical-align: inherit;
      &:hover,
      &:hover > * {
      }
      &#th--eg:hover {
        background-color: transparent;
        & > * {
          background-color: transparent;
        }
      }
    }
  }
}

// `нумерация страниц`
.pagination--eg {
  li.page-item {
    .page-link {
      padding: var(--sz2) var(--sz3);
      color: #000;
      border: 1px solid var(--bord-hr);
      background-color: var(--act-bg);
      &:focus {
        // box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
        // box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25);
        box-shadow: 0 0 0 0.25rem rgba(253, 237, 13, 0.25);
      }
    }
    &:hover {
      .page-link {
        color: #000;
        // font-weight: bold;
        background-color: var(--act-bg-hov);
      }
    }
    &.active {
      .page-link {
        color: var(--ui-act-col);
        // font-weight: bold;
        background-color: var(--act-bg-hov);
      }
    }
  }
}

// модал.окно
.modal--eg {
  z-index: 3;
  width: 70%;
  max-width: 500px;
  position: absolute;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  padding: 30px 30px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 3px 5px black;
  transition: all 0.5s ease-in-out;
  // .modal-dialog {
  //   position: absolute;
  //   left: 50% !important;
  //   top: 50% !important;
  //   transform: translate(-50%, -50%);
  // }
  .modal-content {
    background-color: var(--ui-bg);
    text-align: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 01);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    border: 2px solid var(--bord-hr) !important;
    .modal-header {
      padding: 10px 0px;
      border-bottom: 1px solid #000;
      border-bottom: 2px solid var(--bord-hr) !important;
      // border: 2px solid var(--bord-hr) !important;
      .btn-close {
        margin: 5px;
      }
      .modal-title {
        width: 100%;
        h1 {
          margin: 0;
        }
      }
    }
    .modal-body {
      form {
        border: 2px solid var(--bord-hr);
      }
    }
  }
}
.open-modal-btn {
  background: #fff;
  padding: 18px 25px;
  border-radius: 20px;
  // font-weight: 500;
  // border: 0;
  // outline: none;
  font-size: 22px;
  cursor: pointer;
  line-height: 23px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 01);
  transition: all 0.1s ease-in-out;

  &:hover {
    box-shadow: 0 8px 10px #000000;
    transform: translateY(-1px);
  }

  &:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 01);
    transform: translateY(0);
  }
}

// Модальное окно с блоком наложение
.modal--eg__prost {
}

// карточки/сетка блоков
.card--eg {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  // Продукт/Описание
  &__product {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    strong {
      display: flex;
      justify-content: space-between;
    }
  }
}

// модал.окно Filtra
.modal--eg__filter {
  // блок наложения на весь экран
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s ease-in-out;
    // показ блока наложение
    &.show {
      z-index: 5;
      opacity: 1;
      visibility: visible;
    }
  }
  // модал.окно
  .modal--eg {
    opacity: 0;
    visibility: hidden;
    // transform: translate(-50%, -50%);
    // transition-delay: 0.2s;
    // показ модал.окно
    &.show {
      max-width: 100%;
      z-index: 7;
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -50%);
    }
  }
  // блок с раскр.парам.
  .modal__choice-param {
    display: flex;
    gap: 15px;
    .choice-param__col {
      display: flex;
      flex: 1 1 0%;
      flex-direction: column;
      gap: 15px;
    }
  }
  // блок с кнп./кол-ом
  .modal__bnt-interactiv {
    margin: 15px 0px 0 0;
    div {
      display: flex;
      justify-content: space-between;
      gap: 15px;
      button {
        flex: 1 1 0;
      }
      // кнп.Показать
      .btn-primary--eg {
        width: 100%;
      }
    }
  }
}

// блоки выбора Параметров/Категорий/Брендов в модал.окне
.choice-param {
  // border-radius: 5px;
  // border: 1px solid var(--bord-hr);

  // скрытие Параметров после btn
  &__btn + div {
    display: none;
  }
  // показ Параметров после btn
  &__btn.choice-param-show + div {
    display: flex;
    flex-direction: column;
  }

  // КНП.
  &__btn {
    position: relative;
    width: 100%;
    // margin: 0 0 5px;
    // padding: 0.5rem 1rem;
    padding: 10px 15px;
    background-color: var(--act-bg);
    color: #222;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    // border: 1px solid var(--bord-hr);
    border: 0px;
    &::after {
      content: "▼";
      position: absolute;
      right: 0;
      margin: 0 5px;
    }
    &:hover {
      color: #000;
      background-color: var(--act-bg-hov);
    }
    &.choice-param-show {
      color: #000;
      background-color: var(--act-bg-hov);
      border-bottom: 1px solid var(--bord-hr);
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      &::after {
        content: "▲";
      }
    }
  }

  // Параметры
  &__item {
    // margin: 5px 0 0;
    background-color: var(--act-bg);
    color: #1b1b1b;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    label {
      display: flex;
      align-items: center;
      padding: 5px 0 5px;
      font-weight: 500;
      // наведение на label
      &:hover {
        color: #000;
        background-color: var(--act-bg-hov);
        // у inpt без вкл/блока след-му span:before добавить цвет границы
        input:not(:disabled):not(:checked) + span::before {
          border-color: var(--ui-act-col);
        }
      }
      input {
        // height: 100%;
        // left: 0;
        position: absolute;
        z-index: -1;
        opacity: 0;
        // е/и у inpt актив.чекбокс (но не блок) к след.span:before добав.стили
        &:active:not(:disabled) + span::before {
          background-color: var(--ui-act-col);
          border-color: var(--ui-act-col);
        }
        // фокус
        &:focus {
          & + span::before {
            box-shadow: 0 0 0 0.2rem #b5790099;
          }
          // inpt не выбран (не checked)
          &:not(:checked) + span::before {
            border-color: var(--bord-hr);
          }
        }
        // inpt выбран (checked)
        &:checked + span::before {
          border-color: var(--ui-bg);
          background-color: var(--ui-bg);
          // ! заменить на своё изо
          // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
          // спец.симвл.галочка
          content: "✓";
          color: var(--ui-act-col); // --DeepYellow: #b57900;
          font-weight: 900;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        // блокирован (disabled)
        &:disabled + span::before {
          background-color: #e9ecef;
        }
      }
      span {
        // display: inline-block;
        margin-left: 10px;
        display: inline-flex;
        align-items: center;
        // откл. копит текста
        user-select: none;
        // псевдоэлемент
        &::before {
          content: "";
          display: inline-block;
          width: 1em;
          height: 1em;
          flex-shrink: 0;
          flex-grow: 0;
          border: 1px solid var(--bord-hr);
          border-radius: 0.25em;
          margin-right: 0.5em;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50% 50%;
        }
      }
    }
  }
}

// модал под stl bootstr
.modal--eg-bootstr {
  box-shadow: 0 3px 5px black;
  transition: all 0.5s ease-in-out;
  .modal-dialog {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    // для доп.ФормДаты добав.Продукта
    top: 0% !important;
    transform: translate(-50%, 0%) !important;
    // ! врем.стиль для расшир.отражения
    // width: 100%;
    max-width: 100%;
  }
  .modal-content {
    background-color: var(--ui-bg);
    text-align: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 01);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    border: 2px solid var(--bord-hr) !important;
    .modal-header {
      padding: 10px 0px;
      border-bottom: 1px solid #000;
      border-bottom: 2px solid var(--bord-hr) !important;
      // border: 2px solid var(--bord-hr) !important;
      .btn-close {
        margin: 0 5px;
      }
      .modal-title {
        width: 100%;
        h1 {
          margin: 0;
        }
      }
    }
    .modal-body {
      form {
        border: 2px solid var(--bord-hr);
      }
    }
  }
}
// убираем из потока кнп.закр.модал для ровн текта title
.modal-title + button.btn-close {
  position: absolute;
  right: 0;
}

// Список|Лист группы Категор.,Бренд
.list-group--eg {
  display: flex;
  // border: 1px solid var(--bord-hr);
  // background-color: var(--ui-bg);
  border-radius: 5px;
  // transition: color 0.5s; // создаёт перескок/смещение при выборе

  // общие для дочек
  .list-group-item,
  .list-group-item--eg {
    padding: 0.5rem 1rem;
    color: #222;
    font-weight: 500;
    border: 1px solid var(--bord-hr);
    background-color: var(--act-bg);
    cursor: pointer;
    // рамки вертикаль
    &:first-child {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }
    &:last-child {
      border-bottom-right-radius: inherit;
      border-bottom-left-radius: inherit;
    }
    // рамка между дочками
    &:not(:last-child) {
      border-bottom-width: 0px;
    }
    // рамки горизонталь
    &.hrz {
      &:first-child {
        border-top-right-radius: 0;
        border-bottom-left-radius: inherit;
      }
      &:last-child {
        border-bottom-left-radius: 0;
        border-top-right-radius: inherit;
      }
      // рамка между дочками
      &:not(:last-child) {
        border-right-width: 0px;
        border-bottom-width: inherit;
        border-bottom-width: 1px;
      }
    }
    // эффекты
    &:hover {
      color: #000;
      // font-weight: 700;
      background-color: var(--act-bg-hov);
    }
    &.active {
      // font-weight: bold;
      color: var(--ui-act-col);
      background-color: var(--act-bg-hov);
      // border: 1px solid #4b0000;
    }
    // &:focus {
    //   border: 1px solid rgba(253, 237, 13, 0.25);
    // }
  }
}

// Комп.PaginSortLimit (страницы, Сортировка, Выборка, Лимит эл.на стр.)
.pagin-sort-limit {
  display: flex;
  justify-content: space-between;

  .pagination--eg {
    // flex-wrap: wrap;
    margin: 0px 15px 0px 0px;
    @media (max-width: 768px) {
      margin: 0 10px 0 0;
    }
  }

  .select--eg {
    // width: 15%;
  }
  // .limit--eg {}
  button {
    margin: 0 0 0 15px;
  }
  button,
  select {
    @media (max-width: 768px) {
      margin: 0 0 0 10px;
    }
  }
}

// СОКРАШЕНИЕ
.mini-1--eg,
.mini-2--eg {
  font-weight: inherit;
}
.mini-1--eg {
  @media (max-width: 1200px) {
    display: none;
  }
}
.mini-2--eg {
  @media (max-width: 992px) {
    display: none;
  }
}

// ПОИСК
.search--eg {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 16px !important;
  line-height: 1.5;
  &:hover {
    &__inp {
      background-color: var(--act-bg-hov);
    }
  }
  .search--eg__inp,
  .search--eg__btn {
    // border: 0;
    // background-color: var(--act-bg);
  }
  &__inp {
    flex: 1 1 0;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right-width: 0;
  }
  &__btn {
    border-radius: 0px !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-left-width: 0 !important;
  }
}

// row/col (строки/колонки)
:root body #root .main {
  .row-mlr--eg {
    display: flex;
    flex-wrap: wrap;
    // перем.для отступов
    --gutter-x: 1.5rem;
    --gutter-y: 0;
    // отрицат.margin отступ (совместн. с положит.padding отступом)
    margin-right: calc(-0.5 * var(--gutter-x));
    margin-left: calc(-0.5 * var(--gutter-x));
    & > * {
      width: 100%;
      max-width: 100%;
      // положит.padding отступ (совместн. с отрицат.margin отступом)
      padding-right: calc(var(--gutter-x) * 0.5);
      padding-left: calc(var(--gutter-x) * 0.5);
    }
  }
}

// media медиа
:root body #root {
  .main,
  .navbar {
    // MAX
    @media (max-width: 768px) {
      .col-md-9 {
        margin: 15px 0px 0px 0px;
      }
    }

    // MINI
    @media (min-width: 576px) {
      .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
      }
    }
    @media (min-width: 768px) {
      .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
      }
      .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
      }
      .col-lg-4 {
        flex: 0 0 auto;
        width: 50%;
      }
      .col-lg-8 {
        flex: 0 0 auto;
        width: 50%;
      }
    }
    @media (min-width: 992px) {
      .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
      }
      .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666666%;
      }
    }
    @media (min-width: 1400px) {
      .container,
      .container-lg,
      .container-md,
      .container-sm,
      .container-xl,
      .container-xxl {
        max-width: 1320px;
      }
      .col-md-3 {
        flex: 0 0 auto;
        width: 20%;
      }
      .col-md-9 {
        flex: 0 0 auto;
        width: 80%;
      }
      .col-lg-4 {
        flex: 0 0 auto;
        width: 25%;
      }
      .col-lg-8 {
        flex: 0 0 auto;
        width: 75%;
      }
    }
    @media (min-width: 1600px) {
      .container,
      .container-lg,
      .container-md,
      .container-sm,
      .container-xl,
      .container-xxl {
        max-width: 1420px;
      }
    }
    @media (min-width: 1800px) {
      .container,
      .container-lg,
      .container-md,
      .container-sm,
      .container-xl,
      .container-xxl {
        max-width: 1620px;
      }
      .col-md-3 {
        flex: 0 0 auto;
        width: 15%;
      }
      .col-md-9 {
        flex: 0 0 auto;
        width: 85%;
      }
      .col-lg-4 {
        flex: 0 0 auto;
        width: 20%;
      }
      .col-lg-8 {
        flex: 0 0 auto;
        width: 80%;
      }
    }
  }

  // сортировка
  .sort-field-container {
    display: flex;
    gap: 10px;
  }
  /* огромные экраны (xl) */
  @media (min-width: 1400px) {
    .sort-field-container button.btn--eg.btn-primary--eg {
      display: block;
    }
    .sort-field-container select {
      display: none;
    }
  }
  /* большие экраны (lg) */
  @media (min-width: 992px) and (max-width: 1399px) {
    .sort-field-container {
      display: block;
      button.btn-primary--eg {
        display: none;
      }
    }
    .sort-field-container select.text-mode {
      display: block;
    }
    .sort-field-container select.symbol-mode {
      display: none;
    }
  }
  /* средние и маленькие экраны (md/sm) */
  @media (max-width: 991px) {
    .sort-field-container {
      display: block;
      button.btn-primary--eg {
        display: none;
      }
    }
    .sort-field-container select.text-mode {
      display: none;
    }
    .sort-field-container select.symbol-mode {
      display: block;
    }
  }
}
