// основные стили Главных Компонентов Шаблона
#root {
  overflow: hidden;
}

.header,
.footer {
  box-shadow: 0px 0px 15px 2px #000 inset;
}

// HEADER (ШАПКА) =======================================================================================
.header {
  position: relative;

  &-container {
    padding: 0 5%;
    padding-top: var(--head-pad) !important;
    padding-bottom: var(--head-pad) !important;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    // высокое меню > анимаций
    &.max-visible {
      .header__logo > a.header__link {
        // > аним. увелич./уменьш. и центровки букв
        & h3 {
          font-size: var(--font-size-logo-big);
          transform: translateY(-5px) !important;
        }
        // > аним. выезд/заезд доп.букв лого из под 1ой буквы
        &:hover .header__text-wrapper {
          max-width: 228px;
        }
      }
      // > аним. растояния м/у верх./нижн. меню
      .header__menu-bottom {
        margin-top: var(--head-bot-top-mar);
      }
    }
  }

  // ЛОГО
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    .header__link {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      overflow: hidden;

      // все буквы лого
      & h3 {
        font-size: var(--font-size-logo);
        font-weight: bold;
        margin: 0;
        color: var(--PERN_blue);
        transform: translateY(0);
        transition:
          opacity 0.3s ease-in-out,
          font-size 0.3s ease-in-out,
          transform 0.3s ease-in-out;
      }
      .header__text-wrapper {
        display: inline-block;
        overflow: hidden;
        max-width: 0;
        transition: max-width 0.3s ease-in-out;
        vertical-align: top;
        .header__text {
          opacity: 0;
        }
      }

      &:hover {
        .header__img {
          color: var(--Gold);
        }
        .header__text-wrapper {
          max-width: 112px;
          .header__text {
            color: var(--Gold);
            opacity: 1;
          }
        }
      }
    }
  }

  // ВЕРХНЕЕ, НИЖНЕЕ МЕНЮ (общие стили) -------------------------------------------------
  &__menu {
    display: flex;
    flex-direction: column;

    &-top,
    &-bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      .menu-top__items,
      .menu-bottom__items {
        width: var(--width);
        height: var(--height-btn);
        font-size: var(--font-size-big);
        /* border-radius: var(--border-radius); */
        margin-left: 30px;
        border-radius: var(--border-radius);
        margin: 0px 0px 0px var(--bot-it-fir-mar);
        & > a {
          width: 100%;
          height: 100%;
        }
        &:first-child {
          margin-left: 15px;
        }
        &:has([class$="sw1btn"]) {
          width: 30px;
        }
        // .sw4btn 4х кнп. (data-size - Размеры)
        &:has([class$="sw4btn"]) {
          width: 30px;
          margin: var(--sw4btn-margin);
        }
      }
    }

    // ВЕРХНЕЕ МЕНЮ -------------------------------------------------
    &-top {
      // затемняет сосед. эл. при наведении (меню)
      &:hover span:not(:hover) {
        opacity: 0.5;
      }
      // затемняет сосед. эл. при наведении (подменю)
      &:hover li:not(:hover) {
        opacity: 0.3;
        color: white !important;
      }
      .menu-top__items {
        position: relative;

        // НАВЕДЕНИЕ на дочерние эл-ты
        &:hover {
          // подменю при неведении
          .m-t-items__ul {
            opacity: 1;
            visibility: visible;
            transform: translate(0px, 0px);
            pointer-events: all;
          }
        }
        // ПОДМЕНЮ
        .m-t-items__ul {
          // частично из ЕжеСвет
          width: 100%;
          position: absolute;
          padding: 1px 3px 3px;
          opacity: 0;
          visibility: hidden;
          font-size: 16px;
          text-align: center;
          transform: translate(0px, 10%);
          transition: all 0.3s ease 0s;
          pointer-events: none;
          border: 2px solid #000;
          background: #ccc;
          z-index: 3;
          .m-t-its-ul__li {
            a {
              display: flex;
              justify-content: center;
              margin-top: 2px;
              padding: 2px 0px;
              color: yellow;
              background: #8d0000;
            }
          }
        }
      }
    }

    // НИЖНЕЕ МЕНЮ -------------------------------------------------
    &-bottom {
      display: flex;
      max-height: 0;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      will-change: max-height, opacity, visibility, margin-top;
      transition:
        max-height 0.3s ease-in-out,
        opacity 0.3s ease-in-out,
        visibility 0.3s ease-in-out,
        margin-top 0.3s ease-in-out;

      // аним.кнп.доп.меню
      &.visible {
        visibility: visible;
        opacity: 1;
        height: auto;
        max-height: 50px;

        // затемняет сосед. эл. при наведении (меню)
        &:hover span > div:not(:hover) {
          // &:hover span:not(:hover) {
          opacity: 0.5;
        }
        // кнопки
        div[id^="sw"] {
          input {
            border: 0px;
          }
        }
      }
    }
  }

  // МИНИ СТРЕЛКА (упрощ.откр.) -------------------------------------------------
  .miniArrow {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    span {
      width: auto !important;
      display: inline-block !important;
    }
  }
}

// MAIN (ГЛАВНАЯ) =======================================================================================
.main {
  width: 100%;
  // для прижат.footer к низу
  flex: 1 0 auto;
  // height: 100vh;
  // height: calc(100vh - 248.77px);
  // overflow: hidden;
  padding: 1% 3%;
  padding: 0;
  padding: 1% 0;
}

// FOOTER (ПОДВАЛ) =======================================================================================
.footer {
  // position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  // для прижат.footer к низу
  flex: 0 0 auto;
  // max-width: 1750px;
  .footer-container {
    padding: 0 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    .footer__menu {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
  .footer__copyright {
    .copyright-container {
      display: flex;
      justify-content: space-evenly;
      background: #555;
    }
  }
}

/* АНИМАЦИЯ СТРАНИЦ (2 способа - .page|pages) ======================================================================================= */
.page,
.pages {
  /* position: absolute; */
  left: 15px;
  right: 15px;
  overflow: hidden;

  /* 1 способ прописать анимацию (.page - на каждое дейтвие 4шт) */
  .page-enter {
    opacity: 0;
    transform: scale(1.1);
    /* transform: translateX(-100%); */
  }
  .page-enter-active {
    opacity: 1;
    transform: scale(1);
    /* transform: translateX(0); */
    transition:
      opacity 500ms,
      transform 500ms;
  }
  .page-exit {
    opacity: 1;
    transform: scale(1);
    /* transform: translateX(0); */
  }
  .page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    /* transform: translateX(100%); */
    transition:
      opacity 500ms,
      transform 500ms;
  }

  /* 2 способ прописать анимацию (.pages - на два дейтвие. всего 4шт) */
  .pages-enter-active {
    /* .pages-enter { */
    animation: fade-in 500ms forwards;
  }
  .pages-exit-active {
    /* .pages-exit { */
    animation: fade-out 500ms forwards;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
}
