// ^ общ.ф.scss стилей/подключений/настроек

// <ПЕРЕМЕННЫЕ>===============================================================================================
// размеры
// ^ правки подкл. scss > нов.вида (с import <> use (> ф.) ... as * (> перем.))
@use "./varSize";
// ^ отдел.подкл.перем. после подкл.ч/з @use с указ.пространства имён vars
@use "./variables" as vars;

// <МИКСИНЫ>===============================================================================================
// миксин - комплект свойств, для быстрого вызова(подробнее mixins.scss)
@use "./mixins";

// <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
// обнуляющий стиль для стандартизации по всем свойствам, брайзерам и пр.
@use "./null";

// <ЦВЕТА>-----------------------------------------------------------------------------------------------------
@use "./varColors";

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ, VISUAL, GRID, jQuery И ГОТОВЫХ КЛАССОВ>====================================================================================================
// изменения стилей Темы (theme) при нажате на переключатели в Доп.Меню (новое)
@use "./settingsThemeColor";
// изменения стилей Размера (size) при нажате на переключатели в Доп.Меню (новое)
@use "./settingsSizeDistance";
// стили scroll bara (полоса прокрутки)
@use "./scrollBar";

//<ОСНОВНОЙ БЛОК>====================================================================================================
// общие стили для проектов
@use "./projects";
// общие стили Главных Компонентов (header, main, footer)
@use "../Components/layout/Router";

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
//<Иконочные шрифты>------------------------------------------------------------------------------------------------

// <ПЕРЕМЕННЫЕ>===========================================================================================================
// <ШРИФТ ПО УМОЛЧАНИЮ>------------------------------------------------------------------------------------------------
// переменая шрифта по умолчанию (можно несколько сразу завести)
$fontfamily: "";
$fontfamily1: "PT Sans";
$fontfamily2: "Bebas";
$fontfamily3: "AkzidenzGroteskBQ-BdCnd";
$fontfamilyCurs: "cursive";

//<ОБОЛОЧКА>===========================================================================================================
// настройка блока #root от горизонтального скрола изза ошибок верстки (чтоб не вылазилило за пределы экрана)
#root {
  width: 100%;
  // min-height: 100%;
  // overflow: hidden;
  // background: $WetAsphalt;
  // &.loaded {
  // }
  // для прижат.footer к низу
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
// основная сетка. подстройка под расширение экрана с учётом переменных из сетки адаптива
// mw0 - изначальная ширина контейниера
.container {
  max-width: vars.$mw0;
  margin: 0 auto;
  width: 100%;
  // при ширине экрана md0(1530), макс ширина контейнера станет 1400px.
  @media (max-width: vars.$md0) {
    max-width: 1400px;
    // ^^^ для скрытия краёв .container от фона #root.(React.Prob)
    // min-width: 1400px;
    // width: 1400px;
  }
  // $md1: 1400;
  @media (max-width: vars.$md1) {
    max-width: 1200px;
  }
  // $md2: 1200;
  @media (max-width: vars.$md2) {
    max-width: 992px;
  }
  // $md3: 992;
  @media (max-width: vars.$md3) {
    max-width: 768px;
  }
  // $md4: 768;
  @media (max-width: vars.$md4) {
    max-width: 576px;
    max-width: none !important;
  }
  // $md5: 576;
  @media (max-width: vars.$md5) {
    max-width: none;
  }
}
