// ^ отдел.перем. после подкл.scss ч/з @use

// <Сетка адаптива>----------------------------------------------------------------------------------------
// минимальная ширина. статична
$minwidth: 320px;
// полотно
$maxWidth: 2020;
// огранич контейнер
$maxWidthContainer: 1370px;
// брейкпоинты для адаптива. сработает когда есть зазор
$mdaxxl: $maxWidthContainer + 16px;

// Основной размер до брейкпоинтов + 16px (по 8 с каждой стороны). Частые размеры из PSD (1308, 1908)
$mw: 1720px;
$mw0: $mw + 16px;

// большие экраны
$mda: 1530px;
// средние экраны ПК/ноут
$mdaxxl: 1400px;
// небольшие экраны ПК/ноут
$mdaxl: 1200px;
// планшетное расширение
$mdalg: 992px;
// телефоны
$mdamd: 768px;
// маленькие телефоны
$mdaxc: 480px;
