// ^ отдел.перем. после подкл.scss ч/з @use

// <Сетка адаптива>----------------------------------------------------------------------------------------
// минимальная ширина. статична
$minwidth: 320px;
// полотно
$maxWidth: 2020px;
// огранич контейнер
$maxWidthContainer: 1370px;
// брейкпоинты для адаптива. сработает когда есть зазор
$md1: $maxWidthContainer + 16px;

// Примеры начального значение контейниера из PSD. чаще всего использ дизайнерами
$mw: 1308;
$mw: 1908;

// Основной размер до брейкпоинтов + 16px (по 8 с каждой стороны). измен по усмотрению
$mw: 1720;
$mw0: $mw + 16;

// большие экраны
$md0: 1530px;
// средние экраны ПК/ноут
$md1: 1400px;
// небольшие экраны ПК/ноут
$md2: 1200px;
// планшетное расширение
$md3: 992px;
// телефоны
$md4: 768px;
// маленькие телефоны
$md5: 576px;
