:root {
  // PX размеры
  --szp0: 0px;
  --szp5: 5px;
  --szp10: 10px;
  --szp15: 15px;
  --szp20: 20px;
  --szp25: 25px;
  --szp30: 30px;
  --szp40: 40px;
  --szp50: 50px;
  --szp75: 75px;
  --szp100: 100px;
  // REM размеры
  --sz0: 0rem;
  --sz1: 0.25rem;
  --sz2: 0.5rem;
  --sz3: 1rem;
  --sz4: 1.5rem;
  --sz5: 3rem;
  // проценты
  --szpr1: 1%;
  --szpr3: 3%;
  --szpr5: 5%;
  --szpr7: 7%;
  --szpr10: 10%;
}
